<!-- zen coding: type 'button.btn.btn--primary' then tab -->
<!-- <button class="btn btn--primary">Buy Now</button> -->
<!-- <button class="btn btn--secondary">Buy Now</button> -->
<!-- <button class="btn btn--accent">Buy Now</button> -->

<!-- zen coding: type 'a.btn.btn--accent' then tab -->
<!-- <a href="#" class="btn btn--accent">Buy Now</a> -->

<!-- <button class="btn btn--primary">Buy Now</button>
    <a href="#" class="btn btn--secondary">Buy Now</a> -->

<button class="btn btn--primary btn--block">Buy Now</button>
<a href="#" class="btn btn--secondary btn--block">Buy Now</a>
