<!-- zen coding: type '.collapsible' then tab -->
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <!-- need to use sprite.svg Mosh provided in this lesson, otherwise chevron render properly -->
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <!-- '.collapsible__content' -->
  <div class="collapsible__content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, saepe.
    </p>
  </div>
</div>
