<!-- 
    BEM convention (Object-Oriented CSS)
      separate block from a modifier using double hyphen (see '.list--inline' element within styles.css)
      separate block from its elements using double underscores (ie 'list__item' from below)
        - so the below __item is an element inside this block; 
        - it's not another block or another component that can exist on its own; 
        - it's an internal part of this list
-->

<!-- zen coding: type 'ul.list>li{Item $}*3' then tab -->

<!-- <ul class="list list--inline"> -->
<ul class="list list--tick">
  <li class="list__item">Item 1</li>
  <li class="list__item">Item 2</li>
  <li class="list__item">Item 3</li>
</ul>
